{%extends 'base.html'%}
{%block title%}
Log In
{%endblock%}
{%block text%}
{%for cat,msg in get_flashed_messages(True)%}
<div id="flash-messages" class="flash {{cat}}">{{msg}}</div>
{%endfor%}
<div class="container-heading">
    <form action="{{ url_for('sign') }}" method="post" class="form-contact-log">
        <p><label>Email: </label><input type="text" name="email"><br />
        <p><label>Password: </label><input type="password" name="psw"><br />
        <button type="submit" class="save">Log In</button>
    </form>
</div>

{%endblock%}